html {
  font-size: 14px;
}
body {
  font-family: 'Open Sans', sans-serif;
}

header {
  font-family: 'Monoton', cursive;
}

#menu {
  background-color: whitesmoke;
}

.active {
  font-family: "Open Sans", sans-serif;
  font-size: 15.4px;
  font-weight: 600;
}


.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.navbar-default .navbar-nav > .active > a {
  background-color: whitesmoke;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: #399bd1;
}

.jumbotron {
  height: 44rem;
  padding-top: 10rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
               -1px  1px 0 #000,
                1px  1px 0 #000;
}

.jumbotron h1 {
  font-family: Monoton, sans-serif;
  font-size: 7.1rem;
  color: white;
}

.jumbotron p {
  max-width: 51.3rem;
  margin: auto;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

.col-xs.12 {
  align-items: center;
  justify-content: center;
}

h2#featured-project {
  font-size: 1.7rem;
  font-weight: bold;
}

.image-container img {
  opacity: 0.6;
}

.featured-project .image-container {
  height: 19rem;
  margin-top: 20px;
}

.image-container {
  overflow: hidden;
}

.btn-primary {
  width: 11.5rem;
  padding: 1.3rem 0;
  margin-top: 2.8rem;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0,51);
  transition: .5s box-shadow;
}


.help {
  background-color: #f3f3f3;
  padding: 5.2rem 0;
  text-align: center;
}
